:root {
  --no1: #464660;
  --no2: #368B85;
  --no3: #B4B897;
  --no4: #F1E9E5;
}

@media screen and (min-width: 37.5em){
  html{
    width:100%;
  }
  body{
    font-family: 'Chakra Petch';
    background-color: var(--no1);
    color: var(--no4);
    font-size: 20px;
    margin: 0;
    padding: 0;
    width:100%;
    margin-top: 65px;
  }
  a{
    text-decoration: none;
  }
  input,select{
    font-family: 'Chakra Petch';
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  hr{
    border: none;
    border-bottom: 1px solid var(--no4);
  }

  /* UNIVERSAL CSS */

  .mybutton {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Chakra Petch';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: var(--no2);
    color: var(--no4);
    cursor: pointer;
  }
  .mybutton:hover {
    background-color: var(--no4);
    color: black;
  }
  .reverse-btn {
    width: 100%;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Chakra Petch';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 20px;
  }
  .reverse-btn:hover {
    background-color: black;
    color: white;
  }

  /* HEADER */

  .header-container {
    position: fixed;
    background-color: var(--no1);
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1{
    margin: 0;
    font-family: 'anton';
    color: var(--no4);
  }
  .header h1:hover{
    color: var(--no3);
  }
  .header-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header-middle h4{
    margin: 0px;
  }
  .header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .search-icon {
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    color: var(--no4);
    margin-right: 10px;
    cursor: pointer;
  }
  .search-icon:hover {
    background-color: rgba(0,0,0,0.2);
    color: var(--no4);
  }
  .header-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--no4);
    margin-left: 10px;
    cursor: pointer;
  }
  .header-image:hover {
    border: 1px solid rgba(0,0,0,0.2);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: 200px;
    right: 0;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-menu-item{
    padding: 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdown-menu-item:hover{
    background-color: black;
    color: white;
  }

  /* LOGIN */

  .login-container {
    width:100%;
  }
  .login-form {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    max-width: 500px;
    margin: 100px auto;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .login-form p {
    box-sizing:border-box;
    margin: 10px 0px;
    text-align: center;
    margin-bottom: 40px;
  }
  .signup-form {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    max-width: 500px;
    margin: 100px auto;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .signup-text {
    box-sizing:border-box;
    margin: 10px 0px;
    text-align: center;
    margin-bottom: 40px;
  }
  .signup-form input {
    box-sizing:border-box;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.1);
    color: var(--no4);
    border-bottom: 2px solid var(--no4);
    padding: 10px 15px;
    font-size: 20px;
    margin: 3px 0px;
  }
  .signup-form input:hover {
    background-color: rgba(0,0,0,0.4);
  }
  .signup-form input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.4);
  }
  .signup-form select {
    box-sizing:border-box;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.1);
    color: var(--no4);
    border-bottom: 2px solid var(--no4);
    padding: 10px 15px;
    font-size: 20px;
    margin: 3px 0px;
  }
  .signup-form select:hover {
    background-color: rgba(0,0,0,0.4);
  }
  .signup-form select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.4);
  }
  .signup-btn {
    width: 100%;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Chakra Petch';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 20px;
  }
  .signup-btn:hover {
    background-color: black;
    color: white;
  }

  /* DASHBOARD */

  .dash{
    display: none;
    justify-content: center;
  }
  .dashboard-left {
    width: 20%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
  }
  .dashboard-right {
    width: 80%;
  }
  .dash-head {
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
  .dash-item {
    padding: 8px 12px;
    margin: 1px 2px;
    background-color: var(--no1);
    color: var(--no4);
    border-radius: 3px;
    cursor: pointer;
  }
  .dash-item:hover {
    color: black;
    background-color: var(--no4);
  }

  /* COURSES */

  .term-courses {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .course-item {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 5px;
  }
  .course-item:hover {
    background-color: rgba(0,0,0,0.4);
    color: white;
  }
  .course-item:hover hr{
    border-bottom: 1px solid white;
  }
  .course-item h6,
  .course-item h4 {
    margin: 0px;
    text-align: center;
  }

  /* SINGLE COURSE */

  .course-head {
    padding-top: 20px;
    text-align: center;
  }
  .course-head h3,h5{
    margin: 0px;
  }
  .course-content {
    display: flex;
    justify-content: center;
  }
  .course-content a {
    color: var(--no2);
  }
  .course-content a:hover {
    color: var(--no3);
  }
  .section-a {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 3px;
  }
  .section-b {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 3px;
  }
  .section-title {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .section-content {
    padding: 10px;
  }
  .collapsible {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Chakra Petch';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
  }
  .activate, .collapsible:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  .collapsible-content {
    display: none;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  /* TEACHERS */

  .teachers-page {
    padding-top: 10px;
  }
  .teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .teacher-item {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .teacher-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    margin-right: 10px;
  }
  .teacher-content {
    margin-left: 10px;
  }
  .link-icon {
    color: white;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 50%;
  }
  .link-icon:hover {
    color: var(--no2);
    border: 1px solid var(--no2);
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
  }

  /* CR PRIVILEGES */

  .cr-page{
  }
  .cr-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
  }
  .menubar {
    padding: 10px;
    margin: 0px 2px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
  }
  .menubar:hover {
    background-color: var(--no4);
    color: black;
  }
  .allclasses{
  }
  .class-item{
    margin: 5px 10px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5px;
  }
  .class-item h4 {
    margin: 0;
  }
  .class-details {
    display: flex;
    justify-content: center;
  }
  .class-left {
    width: 100%;
  }
  .icon {
    font-size: 22px;
    padding: 3px;
    color: var(--no4);
    margin-right: 5px;
    cursor: pointer;
  }
  .icon:hover {
    color: black;
  }
  .drop-menu{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: 100px;
    right: 0;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .drop-menu-item{
    padding: 5px 10px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .drop-menu-item:hover{
    background-color: black;
    color: white;
  }

  /* USER PROFILE */

  .hello-user {
    text-align: center;
    padding-top: 10px;
  }
  .hello-user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .hello-user h4 {
    margin: 0px;
  }
  .user-data {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    max-width: 500px;
    margin: 10px auto;
    width: 100%;
    padding: 15px;
  }
  .user-data tr {
    height: 53px;
  }
  .profile-form {
    border-radius: 5px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    max-width: 500px;
    margin: 10px auto;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .profile-form table {
    text-align: left;
  }
  .profile-form input {
    box-sizing:border-box;
    width: 100%;
    border: none;
    color: var(--no4);
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid black;
    padding: 8px 10px;
    font-size: 20px;
    margin: 3px 0px;
  }
  .profile-form input:hover {
    background-color: rgba(0,0,0,0.4);
  }
  .profile-form input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.4);
  }
  .profile-form select {
    box-sizing:border-box;
    width: 100%;
    border: none;
    color: var(--no4);
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid black;
    padding: 8px 10px;
    font-size: 20px;
    margin: 3px 0px;
  }
  .profile-form select:hover {
    background-color: rgba(0,0,0,0.4);
  }
  .profile-form select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.4);
  }

  /* NOTIFICATIONS */

  .notifications {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 400px;
  }
  .notification {
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 10px;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: red;
  }

  /* ALERTS */

  .alerts {
    visibility: hidden;
    min-width: 300px;
    margin-left: -150px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
    z-index: 11;
  }
  .show-alerts-success {
    visibility: visible;
    background-color: white;
    color: black;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  .show-alerts-danger {
    visibility: visible;
    background-color: black;
    color: white;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
}

.hide{
  display: none;
}
